<div>
    <a href="/api/sessions/home">Home</a>
    <a href="/api/sessions/perfil">Perfil</a>
    <a href="/api/sessions/logout">Cerrar sesion</a>
</div>
<div>
  <h1>Carrito y Productos</h1>
</div>

<ul>
     {{#each products}}
  <li><h4>Name: {{this.product.title}}</h4></li>
  <li>Price: ${{this.product.price}}</li>
  <li>Stock: {{this.product.stock}}</li>
  <li>Category: {{this.product.category}}</li>
  {{/each}}
</ul>