<div>
    <h1>Home</h1>
    <a href="/perfil">Perfil</a>
    <a href="/productos">Prod</a>
    <a href="/logout">Cerrar sesion</a>
</div>
<h2>Lista de productos</h2>
<ul>
  {{#each productos}}
    <li>{{this.id}} : {{this.title}}</li>
  {{/each}}
</ul>