<div>
    <h1>Bienvenido!</h1>
    <a href="/login">Iniciar Sesion</a>
</div>
<form method="POST" action="/api/products/products">
    <div>
        <label for="email">Email:</label>
        <input type="email" placeholder="Ingresa su email" name="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Ingresa su contraseña" name="password">
    </div>
    <button type="submit">Registro</button>
</form>
